body{
  margin: 100px 100px 100px 100px;
  font-family: sans-serif;
}

.title{
  font-weight: lighter;
}

.institution{
  font-weight: 700;
}

.picture{
  color: grey;
  margin-bottom: -10px;
}

.subtitle{
margin-top: 40px;
}